<article class="page-movies">
  <h1>Lista de filmes</h1>
  <form class="filtros">
    <mat-form-field>
      <mat-label><mat-icon>search</mat-icon> Pesquisar por filme</mat-label>
      <input matInput type="text" placeholder="Pesquisar por filme" formControlName="search" />
    </mat-form-field>
    <mat-form-field>
      <mat-label><mat-icon>category</mat-icon> Gênero</mat-label>
      <mat-select formControlName="genre">
        <mat-option value="" selected disabled>Todos</mat-option>
        @for (genre of genres(); track genre.id) {
          <mat-option [value]="genre.id">{{ genre.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button class="btn-buscar" type="submit"><mat-icon>search</mat-icon> Buscar</button>
  </form>
  <div class="grid-filmes">
    @if (movies().length > 0) {
        @for (movie of movies(); track movie.id) {
            <a [routerLink]="movie.slug" class="filme">
                <img [src]="movie.image_url ? storageUrl+'/'+movie.image_url : 'placeholder.png'" [alt]="movie.title">
                <div class="infos">
                    <h3>{{ movie.title }}</h3>
                </div>
            </a>
        }
    } @else {
        <h2>Nenhum filme encontrado</h2>
    }
  </div>
</article>
