<article class="page-movies">
    @if (isLoading()) {
        <app-loading></app-loading>
    }
    <div class="topo">
        <h1>Filmes</h1>
        <button routerLink="novo" class="btn-novo"> <mat-icon>add</mat-icon> Novo Filme</button>
    </div>
    <h2>Em cartaz ({{ showing().length }})</h2>
    <div class="conteudo-filmes">
        @if (showing().length > 0) {
        @for (movie of showing(); track movie.id) {
        <div class="filme">
            <img [src]="movie.image_url ? storageUrl+'/'+movie.image_url : 'placeholder.png'" [alt]="movie.title">
            <div class="infos">
                <h3>{{ movie.title }}</h3>
                <div class="btns">
                    <button title="Detalhes" (click)="openDialog(movie)" class="btn-detalhes"> <mat-icon>info</mat-icon> </button>
                    <button title="Editar" routerLink="editar/{{ movie.id }}" class="btn-editar"> <mat-icon>edit</mat-icon> </button>
                    <button title="Excluir" (click)="deleteMovie(movie.id)" class="btn-excluir"> <mat-icon>delete</mat-icon> </button>
                </div>
            </div>
        </div>
        }
        } @else {
        <h3>Nenhum filme em cartaz</h3>
        }
    </div>
    <h2>Em breve ({{ comingSoon().length }})</h2>
    <div class="conteudo-filmes">
        @if (comingSoon().length > 0) {
        @for (movie of comingSoon(); track movie.id) {
        <a class="filme">
            <img [src]="movie.image_url ? storageUrl+'/'+movie.image_url : 'placeholder.png'" [alt]="movie.title">
            <div class="infos">
                <h3>{{ movie.title }}</h3>
                <div class="btns">
                    <button title="Detalhes" (click)="openDialog(movie)" class="btn-detalhes"> <mat-icon>info</mat-icon> </button>
                    <button title="Editar" routerLink="editar/{{ movie.id }}" class="btn-editar"> <mat-icon>edit</mat-icon> </button>
                    <button title="Excluir" (click)="deleteMovie(movie.id)" class="btn-excluir"> <mat-icon>delete</mat-icon> </button>
                </div>
            </div>
        </a>
        }
        } @else {
        <h3>Nenhum filme em breve</h3>
        }
    </div>
    <h2>Fora de cartaz ({{ offScreen().length }})</h2>
    <div class="conteudo-filmes">
        @if (offScreen().length > 0) {
        @for (movie of offScreen(); track movie.id) {
        <div class="filme">
            <img [src]="movie.image_url ? storageUrl+'/'+movie.image_url : 'placeholder.png'" [alt]="movie.title">
            <div class="infos">
                <h3>{{ movie.title }}</h3>
                <div class="btns">
                    <button title="Detalhes" (click)="openDialog(movie)" class="btn-detalhes"> <mat-icon>info</mat-icon> </button>
                    <button title="Editar" routerLink="editar/{{ movie.id }}" class="btn-editar"> <mat-icon>edit</mat-icon> </button>
                    <button title="Excluir" (click)="deleteMovie(movie.id)" class="btn-excluir"> <mat-icon>delete</mat-icon> </button>
                </div>
            </div>
        </div>
        }
        } @else {
        <h3>Nenhum filme fora de cartaz</h3>
        }
    </div>
</article>