<article class="page-home">
  <div class="data">
    <h2>Escolha uma data</h2>
    <div class="conteudo-data">
      <h1>{{ today.split('-')[2] }}/{{ today.split('-')[1] }}</h1>
      <input type="date" name="" id="" />
    </div>
  </div>
  <div class="sessoes">
    <!-- date pipe -->
    <h2>Sessões disponíveis em {{ today | date: 'dd/MM/yyyy' }}</h2>
    <div class="conteudo-sessoes">
      @for (movie of movies(); track movie.id) {
        <div class="sessao">
          <div class="img">
            <img
            [src]="movie.image_url"
              alt="Imagem do filme"
            />
          </div>
          <div class="infos-filme">
            <h3 class="nome-filme">{{ movie.title }}<span class="duracao-filme">{{ convertMinutes(movie.duration_minutes) }}</span></h3>
            <small class="genero-filme">{{ movie.genres.map((genre) => genre.name).join(', ') }}</small>
            <p class="sinopse-filme">
              {{ movie.synopsis }}
            </p>
            <div class="horarios">
              @for (screening of movie.available_screenings; track screening.id) {
                <a routerLink="/sessoes/{{ screening.id }}">
                  <button>{{ screening.start_time | date: 'HH:mm' }}</button>
                </a>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</article>
