.page-rooms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .conteudo-salas {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    .sala {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      border: solid 1px #404040;
      border-radius: 8px;
      transition: 0.3s;
      &:hover{
        border: solid 1px white;
      }
      h2{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        svg{
          fill: #dd0a0a;
        }
        &.ativo{
          svg{
            fill: lightgreen;
          }
        }
      }
      .btns{
        display: flex;
        align-items: center;
        gap: 1rem;
        .btn{
          width: 100%;
          padding: 0.25rem;
          border-radius: 4px;
          transition: 0.3s;
          &.btn-toggle{
            background-color: #d42124;
            color: white;
            border: solid 2px #dd0a0a;
            &:hover {
              border: solid 2px transparent;
              background-color: #dd0a0a;
            }
          }
          &.btn-detalhes{
            background-color: #d5d506;
            color: black;
            border: solid 2px #d5d506;
            &:hover {
              border: solid 2px transparent;
              background-color: #f8f810;
            }
          }
        }
      }
    }
  }
}
