.page-movie {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .form-filme {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .infos-basicas {
      width: 100%;
      display: grid;
      grid-template-columns: 4fr 1fr;
      gap: 1rem;
      .campos {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .img-filme {
        border: solid 1px #404040;
        position: relative;
        img {
          aspect-ratio: 3/4;
          max-height: 520px;
          object-fit: cover;
          border-radius: 4px;
        }
        .img-label {
          width: max-content;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          color: white;
          padding: 4px 8px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          scale: 0;
          transition: 0.3s;
        }
        &:hover {
          .img-label {
            scale: 1;
            background-color: rgba(0, 0, 0, 0.25);
          }
          .btn-remover {
            scale: 1;
          }
        }
        .btn-remover {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          position: absolute;
          top: 5%;
          right: 5%;
          background-color: #dd0a0a;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          scale: 0;
        }
      }
    }
    .ficha-tecnica {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .status {
      span {
        color: white;
      }
    }
    .btns {
      display: flex;
      align-items: center;
      gap: 1rem;
      button {
        width: 130px;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        transition: .3s;
        &.btn-salvar{
          background-color: green;
          &:hover{
            background-color: darkgreen;
          }
        }
        &.btn-cancelar{
          background-color: #dd0a0a;
          &:hover{
            background-color: darkred;
          }
        }
      }
    }
  }
}
