<div class="summary-card">
  <h3>Resumo do Pedido</h3>

  <!-- <div *ngIf="selectedSeats.length === 0" class="empty-state">
    <p>Nenhum assento selecionado.</p>
  </div> -->
  @if (selectedSeats.length === 0) {
    <div class="empty-state">
      <p>Nenhum assento selecionado.</p>
    </div>
  } @else {
    <div >
      <!-- Lista de assentos selecionados -->
      <div class="selected-list">
        @for (seat of selectedSeats; track seat.id) {
          <div class="selected-item">
            <span class="seat-label">🪑 {{ seat.row_label + seat.column_number }}</span>
            <span class="seat-price">R$ {{ unitPrice }}</span>
          </div>
        }
      </div>
  
      <hr class="divider" />
  
      <!-- Totais -->
      <div class="summary-totals">
        <div class="total-row">
          <span>Quantidade</span>
          <span>{{ selectedSeats.length }} {{ selectedSeats.length === 1 ? 'ingresso' : 'ingressos' }}</span>
        </div>
        <div class="total-row total-final">
          <span>Total</span>
          <span>R$ {{ totalPrice.toFixed(2) }}</span>
        </div>
      </div>
    </div>
  }

</div>